<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stil.css">
    <title>Fabrica de Plante</title>
</head>
<body>
    <header>
        <img src="logo.gif" alt="Logo" height="200px">
        <nav>
            <a href = "/">Acasă</a>
            <a href = "autentificare">Autentificare</a>
            <a href = "chestionar">Chestionar</a>
            <a href = "vizualizare-cos"> Vizualizare coș</a>
            <a href = "admin">Administrare Site</a>
        </nav>

    </header>
    
    <main>
        <%- body %> 
    </main>

    <footer>
        <div class="footer-block">
            <div class="address">
                <h3>Adresă</h3>
                <address>Aleea Copou nr. 102B, 700460, Iași<br><br>T: 0755 268 568<br>F: 0755 268 500<br>E: fabrica-de-plante@gmail.com</address>
            </div>
            <div class="informatii">    
                <h3>Informații</h3>
                <p>Acest site este operat de Fabrica de Plante.</p>
                <img src="logo.gif" alt="Logo" height="70px">
            </div>    
        </div>
        <div class="reserved">
            <p>&copy; 2024 Fabrica de Plante. Toate drepturile rezervate.</p>
        </div>
    </footer>
    
</body>
</html>
